@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    font-family: 'Poppins',sans-serif;
}


.btn-xs {
    padding: 0.25rem 0.5rem;
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Poppins',sans-serif;
}
.btn-add {
    font-family: 'Poppins',sans-serif;
}


.sidebar-menu .submenu li a {
    display: block;
    padding: 18px 15px 18px 60px;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    letter-spacing: .03em;
    position: relative;
    font-family: 'Poppins',sans-serif;
  }
  .h6, h6 {
    font-size: 1.1rem;
    letter-spacing: .03em;
    font-family: 'Poppins',sans-serif;
  }

  h5 {
    font-size: 1.1rem;
    letter-spacing: .03em;
    font-family: 'Poppins',sans-serif;
  }
  .form-control{
    letter-spacing: .03em;
    font-family: 'Poppins',sans-serif;
  }

  h4 {
    font-size: 1.1rem;
    letter-spacing: .03em;
    font-family: 'Poppins',sans-serif;
  }
  .user-info-dropdown .dropdown-toggle .user-name {
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    color: #131e22;
    font-family: 'Poppins',sans-serif;
    
  }
.dropdown-toggle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
    z-index: 1;
}

  .dropdown-item {
    font-size: 16px;
    font-weight: 400;
    padding: .657rem 1rem;
    color: #444;
    font-family: 'Poppins',sans-serif;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
 /* Style personnalisé pour le list-group */
 .list-group {
    margin-top: 5px; /* Espacement entre le champ de saisie et la liste des suggestions */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre */

}
.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border: none;
  font-size: 14px;
  overflow-y: auto;
}
.list-groupRegion {
    margin-top: 5px; /* Espacement entre le champ de saisie et la liste des suggestions */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre */

}

/* Style personnalisé pour les suggestions */
.matching-type {
    cursor: pointer; /* Curseur pointer au survol */
}

/* Style personnalisé pour les suggestions actives */
.matching-type.active {
    background-color: #007bff;
    color: #fff;
}

/* Styles CSS */
.list-group {
    margin-top: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.matching-arrondissement {
    cursor: pointer;
}

.matching-arrondissement.active {
    background-color: #007bff;
    color: #fff;
}
/* Styles CSS */

.matching-department {
    cursor: pointer;
}

.matching-department.active {
    background-color: #007bff;
    color: #fff;
}
.matching-region {
    cursor: pointer;
}

.matching-region.active {
    background-color: #007bff;
    color: #fff;
}
#arrondissementsSuggestions {
    max-height: 200px; /* Hauteur maximale pour l'affichage des suggestions */
    overflow-y: auto; /* Ajout du défilement vertical si nécessaire */
   
}
#typeDepartmentsSuggestions{
    max-height: 200px; /* Hauteur maximale pour l'affichage des suggestions */
    overflow-y: auto; /* Ajout du défilement vertical si nécessaire */
   
}
#typeRegionsSuggestions{
    max-height: 200px; /* Hauteur maximale pour l'affichage des suggestions */
    overflow-y: auto; /* Ajout du défilement vertical si nécessaire */
   
}
#villeSuggestions{
  max-height: 200px; /* Hauteur maximale pour l'affichage des suggestions */
  overflow-y: auto; /* Ajout du défilement vertical si nécessaire */
 
}

 /* Styles CSS */
 #searchRegions {
    position: relative;
}

.clear-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    cursor: pointer;
    z-index: 1;
}

.dropdown-toggle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
    z-index: 1;
}
.dropdown, .dropleft, .dropright, .dropup {
  position: relative;
  margin-top: 6px;
}
.dropdown-toggle::after {
  content: "\f107";
  font-family: "FontAwesome";
  vertical-align: unset;
  width: auto;
  height: auto;
  border: 0 !important;
  margin-right: 20px;
}
.user-info-dropdown .dropdown-toggle .user-name {
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    color: #131e22;
    font-family: 'Poppins',sans-serif;
    padding: 15px;
    color:#80B601;
  }
.sidebar-menu .dropdown-toggle:hover, .sidebar-menu .show > .dropdown-toggle {
    background-color:#80B601;
  }
.sidebar-menu .submenu li a.active, .sidebar-menu .submenu li a:hover {
    color: #fff;
    background-color:#80B601;
  }

.sidebar-menu .submenu li > a::before {
  content: "";
  position: absolute;
  line-height: 1;
  left: 18px;
  top: 20%;
  -webkit-transform: translate(0,-100%);
  transform: translate(0,-50%);
}
.sidebar-menu .submenu li a {
    display: block;
    padding: 18px 15px 18px 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    letter-spacing: .03em;
    position: relative;
    font-family: 'Poppins',sans-serif;
  }
  .img-fluid {
    height: 200px; /* Hauteur fixe pour les images */
    width:100%;

}
.line-champ {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
 /* Ajoutez vos styles CSS personnalisés ici */
 .profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.profile-img {
    max-width: 200px;
    max-height: 200px;
   
    border-radius: 50%;
}
h5 {
    font-size: 1.1rem;
    letter-spacing: .03em;
    font-family: 'Poppins',sans-serif;
  }
  .h6, h6 {
    font-size: 1.1rem;
    letter-spacing: .03em;
    font-family: 'Poppins',sans-serif;
  }
 
.badge{
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: normal;
}

.profile-img {
  max-width: 200px;
  max-height: auto;
  border-radius: 50%;
  object-fit: cover;
}
.img-card {
  height: 150px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  object-fit: cover;
  filter: brightness(1.03);
}
/* Media query pour les écrans de taille maximale de 768px (mode responsive) */
@media screen and (max-width: 732px) {
  label {
      font-size: 12px; /* Taille de police de 12px en mode responsive */
  }
}

/* Media query pour les écrans de taille maximale de 768px (mode responsive) */
@media screen and (max-width: 732px) {
  .form-control {
      font-size: 13px; /* Taille de police de 12px en mode responsive */
  }
}

@media screen and (max-width: 732px) {
  .table thead th {
    font-weight: 600;
    font-size: 11px;
    border-bottom: 0;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 732px) {
  .table td {
    font-size: 10px;
    font-weight: 500;
    padding: 1rem;
  }
}


@media screen and (max-width: 732px) {
  .btn-xs {
    padding: 0.25rem 0.5rem;
    font-size: 10px;
    line-height: 1.5;
    font-family: 'Poppins',sans-serif;
  }
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 14px;
    letter-spacing: .03em;
    font-family: 'Poppins',sans-serif;
  }
}


@media screen and (max-width: 768px) {
  .btn-responsive {
      width: 100%; /* Largeur de 100% en mode responsive */
  }
}
.btn-group > .btn, .btn-group-vertical > .btn {
  position: relative;
  flex: 1 1 auto;
  bottom: 20px;
  padding: 10px;
}