.img-card {
    height: 200px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    object-fit: cover;
    filter: brightness(1.03);
  }
      
  .line-champ {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
  }
  .card {
    word-wrap: break-word;
    border: none;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    object-fit: cover;
    filter: brightness(1.03);
  }
  .img-card {
    height: 150px; /* Pour conserver le ratio hauteur/largeur */
}
.info i{
    font-size:22px; 
}
.display-5 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
}
h1, .h1 {
  font-size: 25px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 14px;
  color: lightslategray;
  text-align: justify;
}
.img-card {
height: 150px;
object-fit: cover;
filter: brightness(1.03);
}
.form-control::placeholder {
color: var(--bs-secondary-color);
opacity: 1;
font-size: 12px;
}
/* Styles par défaut */
.h6,
h6 {
  font-size: 14px;
  letter-spacing: normal;
  font-family: 'Poppins', sans-serif;
}

/* Media query pour les petits écrans */
@media screen and (max-width: 768px) {
  .h6,
  h6 {
    font-size: 12px;
  }
}

.fa-2x {
  font-size: 18px;
}
 /* Définition de la couleur personnalisée pour l'icône */
 .icon-pending i {
     color: #fff; 
 }
 /* Définition de la couleur personnalisée pour l'icône */
 .logo {
     border-radius:50%;
    height: 40px;
    width: 40px;
    background-color:#1F4283;
    display:flex;
    justify-content:center;
    align-items:center;
 }
 .img-entete {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  object-fit: cover;
  filter: brightness(1.03);
}
.btn-responsive {
  width: auto; /* Largeur automatique par défaut */
}

/* Media query pour les écrans de taille maximale de 768px (mode responsive) */
@media screen and (max-width: 732px) {
  .btn-responsive {
      width: 100%; /* Largeur de 100% en mode responsive */
  }
}

@media screen and (max-width: 732px) {
  .display-5 {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;
  }
}
@media screen and (max-width: 732px) {
  h5, .h5 {
    font-size: 15px;
  }
}